<footer>
  <div class="container-fluid ">
    <div class="row row1 d-flex flex-sm-row flex-wrap justify-content-center align-items-center">
      <div class="col-sm content">
        <h1>Restaurant BETA</h1>
        <p>Restauranti me i mire ne qytet. S'ki nevoje me dal, porosit prej shpise</p>
      </div>
      <div class="col-sm link ">
        <ul>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div>
      <div class="col-sm link">
        <ul>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div>
      <div class="col-sm link">
        <ul>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div>
    </div>
    <div class="row2 d-flex justify-content-center align-items-center">
      <p>Të drejtat e autorizuara @2006-2020</p>
    </div>
  </div>

</footer>

<% if(!isLoggedIn) { %>
  <script defer src="./js/script.js"></script>

  <% } else { %>
    <script defer src="./js/showDiv.js"></script>

    <% } %>
      <script src="./js/buttonChat.js"></script>
      <script src="./js/chat.js"></script>
      </body>

      </html>