<%- include('../includes/header',{title:title}); %>
  <%- include('../includes/navigation',{isLoggedIn:isLoggedIn,fullName:fullName}); %>
    <div style="height: 70vh;">
      <h1>Porosia juaj është pranuar</h1>
      <h1>Shiko emailin për të dhënat e porosisë</h1>
    </div>