<%- include('../includes/header',{title:title}); %> <%-
include('../includes/navigation',{isLoggedIn:isLoggedIn,fullName:fullName}); %>
<div style="height: 70vh;">
  <h1>
    Faqja që kërkuat nuk ekziston
  </h1>
</div>
<%- include('../includes/buttonChat'); %> <%-
include('../includes/footer',{isLoggedIn:isLoggedIn}); %>
