<%- include('../includes/header',{title:title}); %> <%-
include('../includes/navigation',{isLoggdIn:isLoggedIn,fullName:''}); %>
<div class="form-container-custom">
  <div class="login-form">
    <h1>Kyçu në Llogari</h1>
    <form action="/login" method="POST" id="form">
      <div class="form-group">
        <label for="email">Email adresa</label>
        <br />
        <!-- <i class="fa fa-user icon"></i> -->
        <input
          type="email"
          name="email"
          id="email"
          aria-describedby="email"
          placeholder="Shkruj email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <br />
        <!-- <span><i class="fa fa-key icon"></i></span>  -->
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-dark btn-block">
          Kyçu
        </button>
      </div>
      <div class="form-group register">
        Nuk jeni regjistruar.
        <a href="/signup" id="regjistrohu">Regjistrohu</a>
      </div>
    </form>
  </div>
</div>

<%- include('../includes/footer',{isLoggedIn:isLoggedIn}); %>
